    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>What is Plottico Dashboards?</h2>
              <br/>
                <p class="lead">At Plottico we created a revolutionary simple way to collect real-time data - no API is needed to integrate, just log in and click on the value at web interface of your service, device or database.<br/>
                The business intelligence that YOU can use, in seconds!</p>
                <p class="lead">Combine your key performance metrics from any web source onto a live shareable KPI dashboard. Set alerts, use API-based streams and download history of your data as CSV spreadsheet for future analysis.</p>
                <br/>
              </div>
        </div>
    </section>
