<section id="services">
<!-- Page Content -->
{% for post in site.posts reversed %}
  {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
    {% if thecycle == 'odd' %}
    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">{{ post.title }}</h2>
                    <div class="lead">{{ post.content }}</div>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                {% if post.img %}
                    <img class="img-responsive" src="img/services/{{ post.img }}" alt="">
                {% endif %}
                {% if post.video %}    
                    <video class="img-responsive" width="600" height="420" autoplay loop style="display: block; margin: auto; margin-top: 40px">
                      <source src="{{ post.video }}.webm" type="video/webm" />
                      <source src="https://doc.plotti.co/plottico-dashboards-beta/dash-fast.mp4" type="video/mp4" />
                      Your browser does not support the video tag.
                    </video>
                {% endif %}
                {% if post.object %}
                <br/>
                    Plottico CPU Load, 1s update using API<br/>
                    <object data="https://plotti.co/plottycocpu/400x120.svg" type="image/svg+xml"></object><br/>
                    StarCraft II viewers, 5min update using Website Plots<br/>
                    <object data="https://plotti.co/E3dsFXzgrmIl/400x120.svg" type="image/svg+xml"></object>
                {% endif %}
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->
    {% else %}

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">{{ post.title }}</h2>
                    <div class="lead">{{ post.content }}</div>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                  {% if post.img %}
                    <img class="img-responsive" src="img/services/{{ post.img }}" alt="">
                {% endif %}
                {% if post.video %}    
                    <video class="img-responsive" width="600" height="420" autoplay loop style="display: block; margin: auto; margin-top: 40px">
                      <source src="{{ post.video }}.webm" type="video/webm" />
                      <source src="https://doc.plotti.co/plottico-dashboards-beta/dash-fast.mp4" type="video/mp4" />
                      Your browser does not support the video tag.
                    </video>
                {% endif %}
                {% if post.object %}
                <br/>
                    Plottico CPU Load, 1s update using API<br/>
                    <object data="https://plotti.co/plottycocpu/400x120.svg" type="image/svg+xml"></object><br/>
                    StarCraft II viewers, 5min update using Website Plots<br/>
                    <object data="https://plotti.co/E3dsFXzgrmIl/400x120.svg" type="image/svg+xml"></object>
                {% endif %}
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->
    {% endif %}
{% endfor %}
</section>
